<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<input type="checkbox" id="check">
<label for="check">
    <i class="bx bx-menu" id="btn"></i>
    <i class="bx bx-x" id="cancel"></i>
</label>
<div class="sidebar">
    <header>Change Password</header>
    <ul>
        <li><a href="/data"><i>Home</i></a></li>
        <li><a href="/CreateEmployee"><i>Create Employee</i></a></li>
        <li><a href="#"><i>Overview</i></a></li>
        <li><a href="#"><i>Events</i></a></li>
        <li><a href="#"><i>About</i></a></li>
        <li><a href="#"><i>Services</i></a></li>
        <li><a href="#"><i>Contact</i></a></li>
    </ul>
</div>
<section>
    <div class="wrapper">
        <form action="#" method="POST">
            <input type="text" placeholder="New Password" required name="NewPassword">
            <button type="submit">Submit</button>
        </form>
    </div>
</section>
</body>
</html>