<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<input type="checkbox" id="check">
<label for="check">
    <i class="bx bx-menu" id="btn"></i>
    <i class="bx bx-x" id="cancel"></i>
</label>
<div class="sidebar">
    <header>Change Password</header>
    <ul>
        {% for item in tabs %}
        <li><a href="{{ item[1] }}"><i>{{ item[0] }}</i></a></li>
        {% endfor %}
        <li><a href="/form"><i>Logout</i></a></li>
    </ul>
</div>
<section>
    <div class="wrapper wrapper--primary">
        <form action="#" method="POST">
            <input type="text" placeholder="New Password" required name="NewPassword">
            <button type="submit">Submit</button>
        </form>
    </div>
</section>
</body>
</html>