<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<input type="checkbox" id="check">
<label for="check">
    <i class="bx bx-menu" id="btn"></i>
    <i class="bx bx-x" id="cancel"></i>
</label>
<div class="sidebar">
    <header>Welcome</header>
    <ul>
        <li><a href="/CreateEmployee"><i>Create Employee</i></a></li>
        <li><a href="/ChangePassword"><i>Change Password</i></a></li>
        <li><a href="/photoPage"><i>Take Photo</i></a></li>
        <li><a href="/EmployeeInfo"><i>Personal Information</i></a></li>
        <li><a href="/form"><i>Logout</i></a></li>
    </ul>
</div>
<section>
    <form action="/EmployeeInfo" method="post">
        <div class="navbar">
            <header>Select Employee</header>
            <ul>
                {% for item in employees %}
                <li><a><button name = "Employee" value="{{ item }}" class="btn btn--navbar"> {{ item }} </button></a></li>
                {% endfor %}
            </ul>
        </div>
    </form>
</section>
</body>
</html>
