<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
</head>
<body>

<form action="/photoPage/" method="post">
    <input type="submit" value="Take Photo" name="click"/>
</form>

<form action="/EmployeeInfo" method="post">
    <div id="navbar">
    {% for item in employees %}
    <a><button name = "Employee" value="{{ item }}"> {{ item }} </button></a><br>
    {% endfor %}
</div>



<button onclick="window.location.href = '/CreateEmployee';" class="btn btn--primary">Create Employee</button>
<button class="btn btn--secondary"> Click </button>
<button onclick="window.location.href = '/ChangePassword';">Change Password</button>

</body>
</html>
