<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Info</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
</head>
<body>
<p>Employee Name: {{ info[1] }}</p><br>
<p>Employee ID: {{ info[0] }}</p><br>
<p>Address: {{ info[2] }}</p><br>
<p>Postcode: {{ info[3] }}</p><br>
<p>Email: {{ info[4] }}</p><br>
<p>Telephone: {{ info[5] }}</p><br>
<p>Date of Birth: {{ info[6] }}</p><br>
<p>Start Date: {{ info[7] }}</p><br>
<p>Admin ID: {{ info[8] }}</p><br>
<p>Level: {{ info[9] }}</p><br>
<p>Payment Date: {{ info[12] }}</p><br>
<p>Annual Salary: {{ info[13] }}</p><br>
<p>Tax code: {{ info[14] }}</p><br>
<p>Monthly Salary: {{ info[15] }}</p><br>
<p>Pension: {{ info[16] }}</p><br>
<p>Location: </p><br>
<p>Date Captured: </p><br>
<p>Time Captured: </p><br>
<p>Image: </p><br>
<p>Date Captured: </p><br>
<p>Time Captured: </p><br>

<button onclick="window.location.href = '/data';" class="btn btn--back" style="position:absolute; top:0px; right:20px">Back</button>
</body>
</html>