<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/loginStyle.css" type="text/css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <div class="wrapper wrapper--primary">
        <form action="#" method="post">
            <h1>Login</h1>
            <div class ="input-box">
                <input type="text" placeholder="Username" required name="ID">
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" required name="Password">
                <i class='bx bxs-lock-alt' ></i>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox"> Remember me</label>
                <a href="#">Forgot Password?</a>
            </div>

            <button type="submit" class="btn">Login</button>

            <div class="register-link">
                <p>Don't have an account? <a href="#">Register</a></p>
            </div>
        </form>
    </div>

</body>
<!--
<form action="#" method = "POST">
    <p>ID <input type = "text" name = "ID" /></p>
    <p>Password <input type = "text" name = "Password" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>
-->