.btn{
    /*width: 140px;*/
    /*border-radius: 20px;*/ /*Makes oval shaped*/
    border: 0; /*removes black border*/
    font-size: 0.8rem; /*Changes font size*/
    font-weight: 100;
    margin: 1rem 0;
    padding: 0.7rem 0.7rem; /*Size from left and top*/
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}

.btn--primary{
    background: rgb(8, 100, 240);
    color: white;
}

.btn--primary:hover{
    background: rgb(8, 123, 238);
}

.btn--secondary{
    background: darkturquoise;
    color: white;
}

.btn--secondary:hover{
    background: rgb(2, 155, 158);
}

.btn--accent{
    background: orangered;
    color: white;
}

.btn--accent:hover{
    background: rgb(192, 53, 2);
}

.btn--back{
    background: dodgerblue;
    color: white;
}

.btn--back:hover{
    background: rgb(0, 0, 0);
}

#navbar {
  background-color: #333; /* Black background color */
  position: absolute; /* Make it stick/fixed */
  right: 0;
  height: 200px;
  overflow: scroll;
  /*top: 50px;*/ /* Hide the navbar 50 px outside of the top view */
  /*width: 100%;*/ /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
/*
*/

