.btn{
    width: 200px;
    background: #042331;
    color: white;
    border: 0; /*removes black border*/
    font-family: 'Roboto', sans-serif;
    font-size: 13px; /*Changes font size*/
    font-weight: 100;
    margremin: 1 0;
    padding: 0.7rem 0.7rem;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}
/*
.editBtn{
    background: transparent;
    color: white;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 100;
    adding: 0.7rem 0.7rem;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}
*/
.editBtn:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.deleteBtn{
    background: transparent;
    cursor: pointer;
    borer-radius: 10px;
    border: 0;
    text-decoration: none;
    color: white;
}

.navbar {
  background-color: #042331;
  position: fixed;
  width: 300px;
  right: 0;
  height: 100%;
  overflow: scroll;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.navbar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

/* Style the navbar links */
.navbar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}

.navbar ul a i{
    margin-right: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;

}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}

label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 1px 1px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 245px;
}

#check:checked ~ section{
    margin-left: 250px;
}

section{
    background: url(loginBackground.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}

.wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper--primary{
    width: 420px;
}

.wrapper--secondary{
    width: 700px;
    transition: height .5s;
}

.wrapper .EditInfo{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 15px;
}

.wrapper .EditInfo a i input{
    color: #fff;
    text-decoration: none;
}

.wrapper .EditInfo a i input:hover {
    text-decoration: underline;
}

.EditInfo a i{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.EditInfo a i:hover {
    text-decoration: underline;
}

.EmployeeInfo{
    background: transparent;
    color: white;
    border-radius: 20px;
    border: 0;
    padding: 0.7rem 0.7rem;
    white-space: normal;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

#deleteBtn {
    display: none;
}

label #deleteLabel{
    cursor: pointer;
    border-radius: 3px;
}

label #deleteLabel:hover {
    text-decoration: underline;
}

.popup{
    position: fixed;
    left: 50%;
    top: -200px;
    transform: translate(-50%, 0) scale(0.1);
    width: 300px;
    height: 200px;
    color: white;
    border-radius: 20px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    visibility: hidden;
    transition: all .5s ease;
}

.popup header{
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 30px;
    user-select: none;
    margin: 5px 5px 0;
}

.popup .delete-cancel{
    display: flex;
    justify-content: space-between;
    margin: 60px 40px 10px;
}

.open-popup{
    visibility: visible;
    top: 5px;
    transform: translate(-50%, 0) scale(1);
}

.deleteUser{
    text-align: center;
    text-decoration: none;
    line-height: 20px;
}

.deleteUser a{
    color: white;
    font-weight: 600;
}

.deleteUser a:hover{
    text-decoration: underline;
}
